@import '../../scss/index.scss';

.client-layout {
    background-color: $background-dark-web;
    min-height: 100vh;
}

.client-layout__footer {
    margin-top: 50px;
    padding: 20px 0px 10px 0px;
    border-top: 3px solid $primary;
}

.client-layout__footer>.ui.container {
    display: flex;
}

.client-layout__footer>.ui.container:last-of-type {
    justify-content: space-between;
    margin-top: 30px;
    color: $text-light;
    font-size: 12px;
    opacity: 0.4;
}

@media (max-width: 550px) {
    .client-layout__footer>.ui.container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}