@import '../../../scss/index.scss';

.reviews {
    margin-top: 80px;
}

.reviews>h2 {
    text-align: center;
    color: $text-light;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.reviews__list>div {
    width: 33.33%;
    color: $text-light;
    text-align: center;
    padding: 0 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
}

.reviews__list>div>p {
    text-align: justify;
    opacity: 0.4;
}

.reviews__list-user {
    display: flex;
    align-items: center;
}

.reviews__list-user>.ui.image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.reviews__list-user>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reviews__list-user>div>span:first-of-type {
    font-weight: bold;
    font-size: 16px;
}

.reviews__list-user>div>span:last-of-type {
    opacity: 0.4;
    font-size: 12px;
}

/* Media Query para dispositivos móviles y tabletas */
@media (max-width: 768px) {
    .reviews__list>div {
        width: 50%;
    }

}